.video-center {
    display: block;
    margin: 30px auto 0; /* Centrado horizontal y espacio superior ajustado */
    margin-bottom: 40px;
}

iframe {
    max-width: 100%;
    width: 860px; /* Ancho fijo, ajustable según tus necesidades */
    height: 515px; /* Alto fijo, ajustable según tus necesidades */
}
