/* Estilos personalizados para el formulario */

/* Estilos generales del formulario */
body {
  font-family: Arial, sans-serif; /* Fuente de texto para el cuerpo del documento */
  background-color: #f8f9fa; /* Color de fondo del cuerpo del documento */
}
h1{
  color:  rgb(255, 65, 163);
  text-align: center;
  transition: 10s;
  padding-top: 14px;
}
h1:hover{
  color:linear-gradient( #0efbff , rgb(255, 65, 163));
}
.container {
  max-width: 600px; /* Ancho máximo del contenedor del formulario */
  margin: 50px auto; /* Margen superior e inferior automático y margen izquierdo y derecho automático */
  padding: 20px; /* Espaciado interno del contenedor del formulario */
  border-radius: 10px; /* Radio de borde del contenedor del formulario */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del contenedor del formulario */
  color: #00d5ff;/*color de las letras */
  background: linear-gradient( #0efbff, rgb(255, 65, 163));/*Color de fondo con degradado*/
}

/* Estilos específicos de los campos de entrada */
.form-label {
  font-weight: bold; /* en  negrita */
  color: rgb(255, 65, 163);
}
.form-label:hover {
  cursor: pointer; /* Cambia el cursor al pasar por encima de las etiquetas */
  transform: scale(1.1); /* Hace que las etiquetas se agranden ligeramente al pasar por encima */
  transition: transform 0.3s  ; /*   una transición suave */
}

.form-control {
  margin-bottom: 20px; /* Margen inferior de los campos de entrada */
}

/* Estilos específicos del botón de envío */
.btn-primary {
  width: 100%; /* Ancho completo del botón de envío */
  background: rgb(255, 255, 255);
  color:  #0efbff;
  transition: 5s;
}
.btn-primary:hover {
  background-color: #0efbff; 
  color: rgb(255, 255, 255);;
}