/* Estilos para el contenedor principal */
.container {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 50px auto; /* Margen superior e inferior automático y margen izquierdo y derecho automáticos */
    text-align: center;
    background-color: #878787; /* Color de fondo */
    padding: 20px; /* Espaciado interior */
    border-radius: 10px; /* Radio de borde para esquinas redondeadas */
    box-shadow: 0 0 10px rgb(0, 0, 0); /* Sombra */
}
h1 {
    text-align: center; /* Alineación centrada del texto */
    font-family: "algerian" ; /* Tipo de fuente */
    color: #ffffff; /* Color del texto */
}
